Repository root-expert/puppet-snap, pull requests merged in 2022-03, with the labels that each got.

#5 Modulesync 5.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .sync.yml
  Dockerfile
  Gemfile
  REFERENCE.md
  Rakefile
  lib/puppet/feature/net_http_unix_lib.rb
  lib/puppet/feature/snapd_socket.rb
  lib/puppet/provider/package/snap.rb
  lib/puppet/provider/snap_conf/snap_conf.rb
  lib/puppet/type/snap_conf.rb
  lib/puppet_x/snap/api.rb
  manifests/init.pp
  metadata.json
  spec/acceptance/01_snapd_spec.rb
  spec/acceptance/02_snap_conf_spec.rb
  spec/acceptance/snapd_spec.rb
  spec/classes/init_spec.rb
  spec/spec_helper_acceptance.rb
  spec/unit/puppet/provider/package/snap_spec.rb
  spec/unit/puppet/provider/snap_conf/snap_conf_spec.rb
  spec/unit/puppet_x/snap/api_spec.rb
Labels: modulesync

#7 Update README with proper puppet forge links
  README.md
Labels: docs

#6 Add Fedora 33/34 support
  data/os/Fedora.yaml
  metadata.json
Labels: enhancement

#9 Use the specified channel when quering for the latest version
  lib/puppet/provider/package/snap.rb
  spec/unit/puppet/provider/package/snap_spec.rb
Labels: bug

#8 Release 1.1.0
  CHANGELOG.md
  Rakefile
  metadata.json
Labels: skip-changelog
